version: "3.9"

services:
  nuxt-app:
    image: kh-payroll
    expose:
      - "3000"
    environment:
      NODE_ENV: production
    command: ["node", ".output/server/index.mjs"]

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "3443:3443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certs:/etc/nginx/certs:ro
    depends_on:
      - nuxt-app