version: "3.3"

services:
    mariadb:
        image: mariadb:12-noble
        container_name: mariadb
        ports:
            - "3306"
        environment:
            MARIADB_ALLOW_EMPTY_ROOT_PASSWORD: "true"
            MARIADB_RANDOM_ROOT_PASSWORD: "true"
            MARIADB_DATABASE: payroll
        volumes:
            - ../sql:/docker-entrypoint-initdb.d:ro

    nuxt-app:
        build: 
            context: ../..
            dockerfile: script/docker/Dockerfile
        image: kh-payroll:latest
        expose:
            - "3000"
        environment:
            NODE_ENV: production
        command: ["node", ".output/server/index.mjs"]
        depends_on:
            - mariadb

    nginx:
        image: nginx:latest
        ports:
            - "80:80"
            - "3443:3443"
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf:ro
            - ../cert:/etc/nginx/certs:ro
        depends_on:
            - nuxt-app
